In [ ]:
Introduction to python programming>>>>

In [ ]:
Variables in Python:
    A variable is a name assigned to a memory location that stores a value.

In [ ]:
Rules to declare variables in python:
    Rule1: Variables must not be declared with Namespaces while storing a value.
    Rule2: A Variable name should not start with a number.
    Rule3: A variable name should not contain any special characters ==like==> ! @ # $ % & *

In [ ]:
Examples for Rule_1:

In [1]:
First Name='Tejaswini'    #Sytax error(invalid syntax) will be the outcome when we use Namespaces
print(First Name)

SyntaxError: invalid syntax (2637851349.py, line 1)

In [2]:
FirstName='Durga'         #No Namepaces are allowed
print(FirstName)

Durga

In [8]:
First_Name='Bill Gates_Microsoft'   #Underscore is allowed while declarig a variable
print(First_Name)

Bill Gates_Microsoft

In [9]:
_FirstName='Narayana Murthy_Infosys'       #Underscore can be used anywhere in the variable declaration
print(_FirstName)

Narayana Murthy_Infosys

In [5]:
First__Name="Tejaswini"  #Underscore can be used number of times at anywhere in the variable declaration
print(First__Name)

Tejaswini

In [ ]:
Examples for Rule_2:

In [6]:
1FirstName="Azim_Wipro"           #Syntax error(invalid decimal literal) occurs when the variable starts with the numericals 
print(1FirstName)

SyntaxError: invalid decimal literal (3325362830.py, line 1)

In [10]:
FirstName1="Larry Page_Google"   #Numbers can be used anywhere except starting of the variable
print(FirstName1)

Larry Page_Google

In [11]:
_1FirstName="William Welch_Deloitte"   #A number can be preceeded with an underscore
print(_1FirstName)

William Welch_Deloitte

In [ ]:
Examples for Rule_3:

In [12]:
name!="Teju"                #Special characters cant be included while declaring a variable
print(name!)

SyntaxError: invalid syntax (2061890903.py, line 2)

In [15]:
name@='Teja'               #Special characters cant be included while declaring a variable
print(name@)

SyntaxError: invalid syntax (2890730751.py, line 2)

In [ ]:
Introduction to Datatypes in python:
    1. String      ==>   str
    2. Numbers     ==>   integers(int) and float(float)(decimal)
    3. List        ==>   list
    4. Tuple       ==>   tuple
    5. Dictionary  ==>   dict

In [ ]:
Classification of Datatypes:
    1. Mutable Dtatypes    ===> Which are editable     ===> Flexible in nature
    2. Immutable Datatypes ===> Which are non-editable ===> Fixed in nature

In [ ]:
Introduction to String Dtatypes:
    *String: A string is a series of characters declared in quotes.
    *Classification: It is classified as Immutable Datatype.

In [ ]:
How to declare a string:    #Can use single or double quotes as there is no particular rule
    1. '' ===> Single quotes
    2. "" ===> Double quotes

In [ ]:
Examples to declare a string:

In [16]:
FirstName='Tejaswini'
print(FirstName)

Tejaswini

In [18]:
First_Name="Teju"
print(First_Name)

Teju

In [19]:
First_Name="Teju"
print(Frist_Name)  #The variable must be same in print() while we want to get the value of the variable as output to the screen
                               #otherwise it'll be a syntax error like the variable name is not defined

NameError: name 'Frist_Name' is not defined

In [ ]:
Introduction to String Methods:
    *Methods are built-in programs that are readily available in python to use by the programmers.
    1. type()
    2. title()
    3. upper()
    4. lower()

In [ ]:
1) syntax: type(data)

In [28]:
type(First_Name)

str

In [29]:
First_Name="Seshu"
print(First_Name)

Seshu

In [30]:
First_Name="Mahe"
print(type(First_Name))

<class 'str'>

In [31]:
type(First_Name)

str

In [ ]:
2) title(): It is used to change the first letters of the value to the capitals as the output must be clear and proper format

In [ ]:
Example for title():

In [32]:
Entirename='julie sweet'
print(Entirename)

julie sweet

In [33]:
print(Entirename.title())   #title() is to get the proper format in output

Julie Sweet

In [ ]:
3) upper(): It is used to change the string value into capital letters.

In [ ]:
Example:

In [34]:
print(Entirename.upper())

JULIE SWEET

In [ ]:
4) lower(): It is used to change the string value into small case letters

In [ ]:
Example:

In [35]:
print(Entirename.lower())

julie sweet